@charset "UTF-8";

@import "variables";
@import "mixin";

.icon-processing {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    @include border-radius(100%);
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border: 2px solid;
        border-top-color: $border-color;
        border-right-color: $border-color;
        @include border-radius(100%);
        @include animation(spin 1s linear infinite);
    }
}

@include keyframes(spin) {
    0% {
        @include transform(rotate(0deg));
    }
    
    100% {
        @include transform(rotate(360deg));
    }
}
