@charset "UTF-8";

@import "./variables";

@font-face {
    font-family: "icon";
    src: url('../fonts/iconfont.eot');
    /* IE9*/
    src: url('../fonts/iconfont.eot') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        /* chrome, firefox */
        url('../fonts/iconfont.ttf') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('../fonts/iconfont.svg') format('svg');
    /* iOS 4.1- */
}

.icon:before {
    font-family: "icon", $font;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-a-11-14-11:before {
    content: "\e69e";
}

.icon-a-11-14-14:before {
    content: "\e69f";
}

.icon-a-10-10:before {
    content: "\e6a2";
}

.icon-a-18-19-18:before {
    content: "\e6a3";
}

.icon-a-11111-01:before {
    content: "\e68e";
}

.icon-a-2-5-02:before {
    content: "\e68f";
}

.icon-a-2-5-03:before {
    content: "\e690";
}

.icon-a-2-5-04:before {
    content: "\e692";
}

.icon-a-2-5-05:before {
    content: "\e693";
}

.icon-a-5-8-06:before {
    content: "\e695";
}

.icon-a-5-8-08:before {
    content: "\e696";
}

.icon-a-5-8-07:before {
    content: "\e697";
}

.icon-a-15-17-15:before {
    content: "\e698";
}

.icon-a-15-17-17:before {
    content: "\e699";
}

.icon-a-15-17-16:before {
    content: "\e69a";
}

.icon-a-11-14-12:before {
    content: "\e69c";
}

.icon-a-11-14-13:before {
    content: "\e69d";
}

.icon-suyuan:before {
    content: "\e68d";
}

.icon-xingzhuang:before {
    content: "\e68c";
}

.icon-wenjian:before {
    content: "\e68b";
}

.icon-contacts-solid:before {
    content: "\e6b1";
}

.icon-qunzu:before {
    content: "\e68a";
}

.icon-xinjian:before {
    content: "\e6b0";
}

.icon-tuwenxinxi:before {
    content: "\e689";
}

.icon-message:before {
    content: "\eb01";
}

.icon-carriedOut:before {
    content: "\e684";
}

.icon-qiyeweixin:before {
    content: "\e685";
}

.icon-quxiaofabu:before {
    content: "\e683";
}

.icon-wangyekuang:before {
    content: "\e680";
}

.icon-audio:before {
    content: "\e67c";
}

.icon-tuwen:before {
    content: "\e67d";
}

.icon-biaodan1:before {
    content: "\e72d";
}

.icon-shipin:before {
    content: "\e67e";
}

.icon-wenben:before {
    content: "\e67f";
}

.icon-xiaochengxu1:before {
    content: "\e682";
}

.icon-rizhi:before {
    content: "\e677";
}

.icon-tijiao:before {
    content: "\e67b";
}

.icon-jumpsetting:before {
    content: "\e675";
}

.icon-custom:before {
    content: "\e672";
}

.icon-shuxingbianji:before {
    content: "\e670";
}

.icon-xiansuo:before {
    content: "\e66d";
}

.icon-dingyue:before {
    content: "\e66a";
}

.icon-biaoqian:before {
    content: "\e646";
}

.icon-yonghu:before {
    content: "\e649";
}

.icon-shuxing:before {
    content: "\e64a";
}

.icon-duanxin:before {
    content: "\e64c";
}

.icon-quanjutd:before {
    content: "\e652";
}

.icon-biaodan:before {
    content: "\e659";
}

.icon-weixin:before {
    content: "\e65e";
}

.icon-dingdan:before {
    content: "\e661";
}

.icon-youjian:before {
    content: "\e663";
}

.icon-diyshijian:before {
    content: "\e668";
}

.icon-batch:before {
    content: "\e643";
}

.icon-xiaochengxu:before {
    content: "\e642";
}

.icon-xiayi:before {
    content: "\e606";
}

.icon-chakan:before {
    content: "\e617";
}

.icon-shangyi:before {
    content: "\e618";
}

.icon-bianji:before {
    content: "\e632";
}

.icon-shanchu:before {
    content: "\e63e";
}

.icon-shuangjiantouyou:before {
    content: "\e713";
}

.icon-shuangjiantouzuo:before {
    content: "\e714";
}

.icon-suiji:before {
    content: "\e7b8";
}

.icon-lianjie:before {
    content: "\e66f";
}

.icon-two-dimensional-code:before {
    content: "\e601";
}

.icon-bell:before {
    content: "\e640";
}

.icon-start1:before {
    content: "\e60c";
}

.icon-medium:before {
    content: "\e647";
}

.icon-description:before {
    content: "\e6f4";
}

.icon-ring:before {
    content: "\e641";
}

.icon-gauge:before {
    content: "\e688";
}

.icon-arealine:before {
    content: "\e615";
}

.icon-polar:before {
    content: "\e61a";
}

.icon-number:before {
    content: "\e629";
}

.icon-pm:before {
    content: "\e633";
}

.icon-cross:before {
    content: "\e634";
}

.icon-treemap:before {
    content: "\e638";
}

.icon-table:before {
    content: "\e63c";
}

.icon-people:before {
    content: "\e671";
}

.icon-jiangbei:before {
    content: "\e6cd";
}

.icon-datasource:before {
    content: "\e7cd";
}

.icon-shaixuan:before {
    content: "\e6cc";
}

.icon-shaixuan-tianchong:before {
    content: "\e664";
}

.icon-api:before {
    content: "\e687";
}

.icon-reply:before {
    content: "\e686";
}

.icon-custom-service:before {
    content: "\e64b";
}

.icon-arrowright:before {
    content: "\e67a";
}

.icon-add:before {
    content: "\e694";
}

.icon-flask:before {
    content: "\e6a8";
}

.icon-pc:before {
    content: "\e6a9";
}

.icon-mobile:before {
    content: "\e6aa";
}

.icon-touzi:before {
    content: "\e6ab";
}

.icon-zhongfushezhi:before {
    content: "\e6ac";
}

.icon-pause:before {
    content: "\e6ad";
}

.icon-jianshao:before {
    content: "\e6ae";
}

.icon-kaishi:before {
    content: "\e6af";
}

.icon-duoqutuisong:before {
    content: "\e6b2";
}

.icon-fanhui:before {
    content: "\e6b3";
}

.icon-gengduo:before {
    content: "\e6b4";
}

.icon-mubiaoshouzhong:before {
    content: "\e6b5";
}

.icon-baocun:before {
    content: "\e6b6";
}

.icon-liuchengkongzhi:before {
    content: "\e6b7";
}

.icon-ABceshi:before {
    content: "\e6b8";
}

.icon-cuowu1:before {
    content: "\e6b9";
}

.icon-dengdaishijian:before {
    content: "\e6ba";
}

.icon-fanhui1:before {
    content: "\e6bb";
}

.icon-kefu:before {
    content: "\e6bc";
}

.icon-lianxiren:before {
    content: "\e6bd";
}

.icon-quxiao:before {
    content: "\e6be";
}

.icon-tiaojianfenzhi:before {
    content: "\e6bf";
}

.icon-tuozhuai:before {
    content: "\e6c0";
}

.icon-tuozhuai1:before {
    content: "\e6c1";
}

.icon-wancheng:before {
    content: "\e6c2";
}

.icon-yiwen2:before {
    content: "\e6c3";
}

.icon-flow:before {
    content: "\e6c5";
}

.icon-rili:before {
    content: "\e6c9";
}

.icon-shuju:before {
    content: "\e6ca";
}

.icon-tixing:before {
    content: "\e6cb";
}

.icon-wechat:before {
    content: "\e63a";
}

.icon-copy:before {
    content: "\e63b";
}

.icon-eye:before {
    content: "\e63d";
}

.icon-menu:before {
    content: "\e609";
}

.icon-clock:before {
    content: "\e63f";
}

.icon-caret-down:before {
    content: "\e607";
}

.icon-click:before {
    content: "\e65a";
}

.icon-folder:before {
    content: "\e651";
}

.icon-choose:before {
    content: "\e644";
}

.icon-iconless:before {
    content: "\e648";
}

.icon-user1:before {
    content: "\e64d";
}

.icon-move:before {
    content: "\e64e";
}

.icon-duoxingwenben:before {
    content: "\e7e1";
}

.icon-import:before {
    content: "\e650";
}

.icon-time:before {
    content: "\e653";
}

.icon-mail:before {
    content: "\e656";
}

.icon-sms:before {
    content: "\e657";
}

.icon-more:before {
    content: "\e65d";
}

.icon-tianjia:before {
    content: "\e81f";
}

.icon-mms:before {
    content: "\e665";
}

.icon-True:before {
    content: "\e666";
}

.icon-profile:before {
    content: "\e667";
}

.icon-export:before {
    content: "\e669";
}

.icon-reset:before {
    content: "\e66b";
}

.icon-classic-loading:before {
    content: "\e66c";
}

.icon-icon-test:before {
    content: "\e66e";
}

.icon-eye-closed:before {
    content: "\e679";
}

.icon-pingfen-kongxin:before {
    content: "\e8a8";
}

.icon-sort:before {
    content: "\e673";
}

.icon-calendar1:before {
    content: "\e674";
}

.icon-yiwen1:before {
    content: "\e676";
}

.icon-dnd-email:before {
    content: "\e678";
}

.icon-plus:before {
    content: "\e600";
}

.icon-pencil:before {
    content: "\e621";
}

.icon-search:before {
    content: "\e610";
}

.icon-close:before {
    content: "\e603";
}

.icon-loading:before {
    content: "\e62b";
}

.icon-ios:before {
    content: "\e623";
}

.icon-bookmarks:before {
    content: "\e628";
}

.icon-happy-face:before {
    content: "\e62c";
}

.icon-mp-top:before {
    content: "\e660";
}

.icon-delete:before {
    content: "\e60b";
}

.icon-arrow-left:before {
    content: "\e602";
}

.icon-power-off:before {
    content: "\e6f2";
}

.icon-save:before {
    content: "\e654";
}

.icon-correct:before {
    content: "\e60a";
}

.icon-user:before {
    content: "\e691";
}

.icon-layout:before {
    content: "\e6c7";
}

.icon-help:before {
    content: "\e62f";
}

.icon-arrow-right:before {
    content: "\e605";
}

.icon-radio:before {
    content: "\e60d";
}

.icon-checkbox:before {
    content: "\e611";
}

.icon-radio-check:before {
    content: "\e620";
}

.icon-mg-home:before {
    content: "\e61e";
}

.icon-refresh:before {
    content: "\e62e";
}

.icon-point:before {
    content: "\e658";
}

.icon-setting:before {
    content: "\e65f";
}

.icon-user-attr:before {
    content: "\e613";
}

.icon-star:before {
    content: "\e614";
}

.icon-checkbox-check:before {
    content: "\e662";
}

.icon-tag:before {
    content: "\e604";
}

.icon-change:before {
    content: "\e61f";
}

.icon-js:before {
    content: "\e6a1";
}

.icon-history:before {
    content: "\e619";
}

.icon-toggle:before {
    content: "\e64f";
}

.icon-map:before {
    content: "\e69b";
}

.icon-reflow:before {
    content: "\e62d";
}

.icon-line:before {
    content: "\e6cf";
}

.icon-yunhang:before {
    content: "\e622";
}

.icon-log:before {
    content: "\e728";
}

.icon-calendar:before {
    content: "\e6a0";
}

.icon-scatter:before {
    content: "\e616";
}

.icon-user-group:before {
    content: "\e608";
}

.icon-right:before {
    content: "\e630";
}

.icon-arrow-down:before {
    content: "\e631";
}

.icon-pie:before {
    content: "\e60f";
}

.icon-download:before {
    content: "\e655";
}

.icon-sftp:before {
    content: "\e61c";
}

.icon-info:before {
    content: "\e645";
}

.icon-round-close:before {
    content: "\e635";
}

.icon-warn:before {
    content: "\e65b";
}

.icon-sdk:before {
    content: "\e627";
}

.icon-image:before {
    content: "\e61b";
}

.icon-dark-clock:before {
    content: "\e65c";
}

.icon-switch:before {
    content: "\e681";
}

.icon-success:before {
    content: "\e774";
}

.icon-bar:before {
    content: "\e760";
}

.icon-share:before {
    content: "\e6c4";
}

.icon-round-pencil:before {
    content: "\e60e";
}

.icon-grid:before {
    content: "\e612";
}

.icon-upload:before {
    content: "\e61d";
}

.icon-run-success:before {
    content: "\e624";
}

.icon-chenggong:before {
    content: "\e625";
}

.icon-shijian1:before {
    content: "\e626";
}

.icon-tiny:before {
    content: "\e62a";
}

.icon-extra-large:before {
    content: "\e636";
}

.icon-large:before {
    content: "\e637";
}

.icon-little:before {
    content: "\e639";
}
